.pricing {
  background-color: $color-secondary;
  padding: 5rem;
  text-align: center;

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-column-gap: 3rem;
    opacity: 0.9;
    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-row-gap: 2rem;
      justify-items: center;
    }
  }

  &__card {
    background-color: #fff;
    border-radius: 0.5rem;
    padding: 5rem 4rem;
    text-align: center;
    max-width: 55rem;
  }
}

.faq {
  padding: 5rem;
  background-color: $color-tertiary;

  &__text {
    padding: 0 5rem;
  }
}

.modal {
  position: fixed;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.3s ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: $color-tertiary;
  width: 50rem;
  max-width: 80%;
  &.modal-active {
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal-header {
  padding: 1rem 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  color: #6a26ff;
  & .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  & .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
    font-weight: bold;
    color: $color-dark;
  }
}

.modal-body {
  padding: 3rem 3.5rem;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.5);
  pointer-events: none;

  &.active-overlay {
    pointer-events: all;
    opacity: 1;
  }
}

.register-form {
  padding: 3rem 3.5rem;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  &__input {
    display: block;
    font-family: $default-font;
    color: #321278;

    margin-bottom: 2rem;
    &[placeholder] {
      color: #321278;
      font-size: 2rem;
    }
    &::placeholder {
      color: #321278;
    }
  }

  &__img {
    width: 30%;
    display: block;
  }

  &__text {
    text-align: center;
  }

  &__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-column-gap: 2rem;
    padding: 1.5rem;
  }
}

.download-form {
  &__text {
    text-align: center;
    margin: 0 auto;
    align-items: center;
    align-self: center;
  }
  &__logo {
    font-size: 2rem;
    padding: 0 1rem;
  }
}
